@use '../abstracts/color';
@forward '../components/link';

.header__nav-items {
    display: flex;
    gap: 35px;
    list-style: none;

    .header__nav-item--active {
        border-bottom: 3px solid color.$primary;
        &>.header__link {
            color: color.$dark-3xl;
        }
    }

    .header__link {
        color: color.$dark-l;
        transition: color .3s;
        &:hover {
            color: color.$dark-3xl;
        }
    }
}