@use '../abstracts/color';
@use '../abstracts/media';
@forward '../components/link';

.header__nav-items {
    display: flex;
    gap: 35px;
    list-style: none;

    .header__nav-item--active {
        border-bottom: 3px solid color.$primary;
        &>.header_link {
            color: color.$light-s;
        }
    }

    .header_link {
        color: color.$dark-s;
        transition: color .3s;
        &:hover {
            color: color.$light-s;
        }
    }
}

