@use '../abstracts/media';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    &::before {
        box-sizing: border-box;
    }
    &::after {
        box-sizing: border-box;
    }
}

.container {
    width: 1280px;
    margin-inline: auto;
    padding-inline: 40px;

    @media (media.$tablet <= width < media.$desktop) {
        width: 768px;
        padding-inline: 30px;
    }
}