.sources {
    display: flex;
    justify-content: center;
}
.source {
    display: block;
    max-width: 40rem;
    height: 3rem;
    background: #f9f9f9;
    border: 3px solid #fff;
    border-radius: 5px;
}
