@use '../abstracts/color';
@use '../abstracts/type';
@use '../abstracts/icon';

.footer {
    @extend %footer-screen;

    .container {
        display: grid;
        grid-template-columns: 280px 300px 1fr;
        grid-column-gap: 160px;
        padding-top: 40px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__wrapper {
        &:nth-child(1), &:nth-child(2) {
            padding-bottom: 60px;
        }

        &:nth-child(1) {
            gap: 40px;
            .footer__icon {
                flex: none;
                width: 40px;
                height: 32px;
            }
        }

        &:nth-child(2) {
            gap: 32px;
            .footer__icon {
                flex: none;
                width: 22px;
                height: 32px;
            }
        }
    }

    &__title {
        color: color.$light-xl;
    }

    &__link {
        display: flex;
        gap: 20px;
        align-items: center;
        text-decoration: none;

        &-text {
            @extend %h4;
            color: color.$primary;
        }
    }


}