@use '../abstracts/color';
@use '../abstracts/media';
@forward '../components/logo';
@forward '../components/header-nav';
@forward '../components/burger';

.header {
    margin-top: 60px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        position: relative;
        z-index: 1;

        @media (media.$mobile-1 <= width < media.$tablet) {
            justify-content: flex-start;
            gap: 40px;
        }
    
        @media (media.$mobile-2 <= width < media.$tablet) {
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__burger {
        display: none;

        @media (media.$mobile-1 <= width < media.$tablet) {
            display: flex;   
        }
    }

    @media (media.$mobile-1 <= width < media.$desktop) {
        margin-top: 30px;
    }

    &__nav {
        @media (media.$mobile-1 <= width < media.$tablet) {
            display: none;
        }
    }

    &--active {
        @media (media.$mobile-1 <= width < media.$tablet) {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            background-color: rgba($color: color.$dark-3xl, $alpha: .6);
            z-index: 1;

            .container {
                width: 320px;
                height: 100%;
                margin: 0;
                padding: 30 10;
                align-items: flex-start;
                background-color: color.$dark-3xl;

                @media (media.$mobile-1 <= width < media.$mobile-2) {
                    width: 100%;
                }
            }

            .header__nav {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &-items {
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                }
            }

            .header__burger {
                margin-top: calc((60px - 22px) / 2);
            }

            .header__link {
                font-size: 3.2rem;
                line-height: 160%;
            }
        }
    }
}