@use '../abstracts/color';
@use '../abstracts/media';
@forward '../components/logo';
@forward '../components/header-nav-2';
@forward '../components/burger';

.header {
    position: fixed;
    width: 100vw;
    background-color: color.$light-xl;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        height: 120px;

        @media (media.$mobile-1 <= width < media.$tablet) {
            justify-content: flex-start;
            gap: 40px;
        }

        @media (media.$mobile-2 <= width < media.$tablet) {
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__burger {
        display: none;

        @media (media.$mobile-1 <= width < media.$tablet) {
            display: flex;   
        }
    }

    &__link {
        text-decoration: none;
    }

    &__nav {
        @media (media.$mobile-1 <= width < media.$tablet) {
            display: none;
        }
    }
}