@use '../abstracts/color';
@use '../abstracts/type';
@use '../abstracts/media';
@forward '../components/card';
@forward '../components/text-block';
@forward '../components/pagination';

main {
    background-color: color.$light-l;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 200px 0 100px 0;

        @media (media.$tablet <= width < media.$desktop) {
            gap: 30px;
            padding-bottom: 76px;
        }

        @media (media.$mobile-1 <= width < media.$tablet) {
            padding: 162px 0 42 0;
            gap: 42px;
        }
    }
}

.pet {
    &__title {
        text-align: center;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;

        @media (media.$tablet <= width < media.$desktop) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            margin-bottom: 10px;
        }

        @media (media.$mobile-1 <= width < media.$tablet) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }
    }
}

.animation__ {
    &fade {
        animation: fade .5s;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
