@use '../abstracts/color';
@forward '../components/card';
@forward '../components/text-block';
@forward '../components/button';

.our-friends {
    background-color: color.$light-l;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 80px 0 100px 0;
    }

    &__title {
        width: 350px;
        text-align: center;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 90px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 53px;
        align-items: center;
    }
}